USE [HotellIsaacBlue]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMERSID] [bigint] NOT NULL,
	[QTYPERSONS] [smallint] NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[ENDDATE] [date] NOT NULL,
	[ETA] [datetime] NULL,
	[TIMEARRIVAL] [datetime] NULL,
	[TIMEDEPARTURE] [datetime] NULL,
	[SPECIALNEEDS] [text] NULL,
	[EXTRABED] [bit] NOT NULL,
	[PARKING] [bit] NOT NULL,
	[BREAKFAST] [bit] NOT NULL,
	[STAFFID] [int] NULL,
 CONSTRAINT [PK_BOOKINGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_SHOWCUSTOMERSLATESTBOOKINGS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------\
-----------VIEWS-----------|
---------------------------/

--KOLLAR ALLA KUNDERS SENASTE BOKNINGAR OCH VISAR DE BOKNINGAR SOM ÄR ÄLDRE ÄN 2 ÅR
CREATE VIEW [dbo].[v_SHOWCUSTOMERSLATESTBOOKINGS] AS
	SELECT B.CUSTOMERSID, MAX(B.STARTDATE) AS [LATEST VISIT]
		FROM BOOKINGS B
		GROUP BY B.CUSTOMERSID
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMERTYPESID] [smallint] NOT NULL,
	[FIRSTNAME] [varchar](30) NOT NULL,
	[LASTNAME] [varchar](30) NOT NULL,
	[EMAIL] [varchar](60) NOT NULL,
	[STREETADRESS] [varchar](60) NOT NULL,
	[CITY] [varchar](30) NOT NULL,
	[COUNTRY] [varchar](30) NOT NULL,
	[ICE] [varchar](60) NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[f_SHOWCUSTOMERSOLDERTHAN]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------\
-----------FUNCTIONS-----------|
-------------------------------/

CREATE FUNCTION [dbo].[f_SHOWCUSTOMERSOLDERTHAN] (@YEARS INT)
RETURNS TABLE
AS
	RETURN
		SELECT DISTINCT SLB.CUSTOMERSID, C.FIRSTNAME, C.LASTNAME, [LATEST VISIT] 
			FROM v_SHOWCUSTOMERSLATESTBOOKINGS SLB
			INNER JOIN BOOKINGS B ON SLB.CUSTOMERSID = B.CUSTOMERSID
			INNER JOIN CUSTOMERS C ON C.ID=SLB.CUSTOMERSID
			WHERE [LATEST VISIT] < DATEADD(YEAR, -@YEARS, GETDATE())
GO
/****** Object:  View [dbo].[v_SHOWCUSTOMERSTODELETE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------\
------------------------------------------------------------/

--KOLLAR IGENOM ALLA KUNDER SOM ÄR GAMLA OCH OM DE INTE ÄR REDAN ÄNDRADE TILL '--DELETED--'
CREATE VIEW [dbo].[v_SHOWCUSTOMERSTODELETE]
AS
	SELECT SCOT.CUSTOMERSID, SCOT.[LATEST VISIT], C.FIRSTNAME, C.LASTNAME
		FROM f_SHOWCUSTOMERSOLDERTHAN(2) SCOT
		INNER JOIN CUSTOMERS C ON C.ID = SCOT.CUSTOMERSID
		WHERE C.FIRSTNAME NOT IN ('--DELETED--')
GO
/****** Object:  UserDefinedFunction [dbo].[f_SHOWCUSTOMERSBOOKINGS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------\
--FÖR ATT KUNNA KÖRA LOOPEN MÅSTE DESSA FUNCTIONS, VIEWS OCH STORED PROCEDURES FINNAS FÖRST--|
---------------------------------------------------------------------------------------------/


-------------------------------\
-----------FUNCTIONS-----------|
-------------------------------/

--VAR TVUNGEN ATT SKAPA EN FUNCTION ISTÄLLET FÖR EN VIEW EFTERSOM EN VIEW INTE KUNDE HANTERA PARAMETRAR
CREATE FUNCTION [dbo].[f_SHOWCUSTOMERSBOOKINGS] (@CUSTID INT)
RETURNS TABLE
AS
	RETURN
		SELECT * FROM BOOKINGS WHERE CUSTOMERSID=@CUSTID;
GO
/****** Object:  Table [dbo].[BOOKINGSROOMS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGSROOMS](
	[BOOKINGSID] [bigint] NOT NULL,
	[ROOMSID] [smallint] NOT NULL,
 CONSTRAINT [PK_BOOKINGSROOMS] PRIMARY KEY CLUSTERED 
(
	[BOOKINGSID] ASC,
	[ROOMSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERTYPES]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERTYPES](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[TYPENAME] [varchar](30) NULL,
	[DISCOUNT(%)] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CUSTOMERTYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMS](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ROOMNUM] [smallint] NOT NULL,
	[ROOMTYPESID] [smallint] NOT NULL,
 CONSTRAINT [PK_ROOMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMTYPES]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMTYPES](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](40) NOT NULL,
	[COST] [money] NOT NULL,
	[QTYBEDS] [smallint] NOT NULL,
 CONSTRAINT [PK_ROOMTYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_SHOWPAYMENTINFO]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EN TRIGGER SOM RÄKNAR UT TOTALKOSTNADEN FÖR EN BOKNING

--DEN BEHÖVER KUNDENS ID, KUNDTYP, ANTAL RUM, ANTAL DAGAR, VILKA RUM OCH OM DET FINNS EXTRA SÄNG

--FÖRST SKAPA EN VIEW MED INFO VI BEHÖVER
CREATE VIEW [dbo].[v_SHOWPAYMENTINFO] AS
	SELECT B.CUSTOMERSID, C.CUSTOMERTYPESID, C.FIRSTNAME, C.LASTNAME, B.ID AS BOOKINGSID, DATEDIFF(day, STARTDATE, ENDDATE) AS TOTALDAYS, RT.NAME AS ROOMNAME, RT.COST AS ROOMCOST, B.EXTRABED, CT.[DISCOUNT(%)]
		FROM CUSTOMERS C
		INNER JOIN BOOKINGS B ON B.CUSTOMERSID=C.ID
		INNER JOIN BOOKINGSROOMS BR ON BR.BOOKINGSID=B.ID
		INNER JOIN ROOMS R ON R.ID=BR.ROOMSID
		INNER JOIN ROOMTYPES RT ON RT.ID=R.ROOMTYPESID
		INNER JOIN CUSTOMERTYPES CT ON CT.ID=C.CUSTOMERTYPESID
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DEPNAME] [varchar](40) NOT NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMERSID] [bigint] NOT NULL,
	[TOTALCOST] [money] NULL,
	[TRANSACTIONTOKEN] [varchar](50) NOT NULL,
	[BOOKINGSID] [bigint] NULL,
	[DISCOUNT(SEK)] [int] NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONENUMBERS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONENUMBERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PHONENUMBER] [varchar](20) NULL,
	[CUSTOMERSID] [bigint] NOT NULL,
	[PHONENUMBERTYPESID] [smallint] NOT NULL,
 CONSTRAINT [PK_PHONENUMBERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONENUMBERTYPES]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONENUMBERTYPES](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[TYPENAME] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PHONENUMBERTYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERSID] [bigint] NOT NULL,
	[BOOKINGSID] [bigint] NOT NULL,
	[RATING] [smallint] NOT NULL,
	[CUSTOMERREVIEW] [text] NULL,
 CONSTRAINT [PK_REVIEWS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](30) NOT NULL,
	[LASTNAME] [varchar](30) NOT NULL,
	[DEPARTMENTSID] [smallint] NOT NULL,
	[PHONENUMBER] [varchar](30) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BOOKINGS] ON 

INSERT [dbo].[BOOKINGS] ([ID], [CUSTOMERSID], [QTYPERSONS], [STARTDATE], [ENDDATE], [ETA], [TIMEARRIVAL], [TIMEDEPARTURE], [SPECIALNEEDS], [EXTRABED], [PARKING], [BREAKFAST], [STAFFID]) VALUES (1, 1, 3, CAST(N'2018-07-21' AS Date), CAST(N'2018-07-25' AS Date), CAST(N'2018-07-21T10:07:26.000' AS DateTime), CAST(N'2018-07-21T10:07:26.000' AS DateTime), CAST(N'2018-07-25T10:07:26.000' AS DateTime), NULL, 1, 0, 0, 4)
SET IDENTITY_INSERT [dbo].[BOOKINGS] OFF
INSERT [dbo].[BOOKINGSROOMS] ([BOOKINGSID], [ROOMSID]) VALUES (1, 5)
SET IDENTITY_INSERT [dbo].[CUSTOMERS] ON 

INSERT [dbo].[CUSTOMERS] ([ID], [CUSTOMERTYPESID], [FIRSTNAME], [LASTNAME], [EMAIL], [STREETADRESS], [CITY], [COUNTRY], [ICE]) VALUES (1, 1, N'Emelia', N'Keya', N'e.keya@outlook.com', N'PeePee Falls St 169', N'Cardigan', N'Australia', N'Alexia Warner')
SET IDENTITY_INSERT [dbo].[CUSTOMERS] OFF
SET IDENTITY_INSERT [dbo].[CUSTOMERTYPES] ON 

INSERT [dbo].[CUSTOMERTYPES] ([ID], [TYPENAME], [DISCOUNT(%)]) VALUES (1, N'Standard', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[CUSTOMERTYPES] ([ID], [TYPENAME], [DISCOUNT(%)]) VALUES (2, N'Silver', CAST(10 AS Decimal(18, 0)))
INSERT [dbo].[CUSTOMERTYPES] ([ID], [TYPENAME], [DISCOUNT(%)]) VALUES (3, N'Gold', CAST(20 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CUSTOMERTYPES] OFF
SET IDENTITY_INSERT [dbo].[DEPARTMENTS] ON 

INSERT [dbo].[DEPARTMENTS] ([ID], [DEPNAME]) VALUES (1, N'Reception')
INSERT [dbo].[DEPARTMENTS] ([ID], [DEPNAME]) VALUES (2, N'Cleaner')
INSERT [dbo].[DEPARTMENTS] ([ID], [DEPNAME]) VALUES (3, N'Restaurant')
SET IDENTITY_INSERT [dbo].[DEPARTMENTS] OFF
SET IDENTITY_INSERT [dbo].[PAYMENTS] ON 

INSERT [dbo].[PAYMENTS] ([ID], [CUSTOMERSID], [TOTALCOST], [TRANSACTIONTOKEN], [BOOKINGSID], [DISCOUNT(SEK)]) VALUES (1, 1, 1300.0000, N'60651548', 1, NULL)
SET IDENTITY_INSERT [dbo].[PAYMENTS] OFF
SET IDENTITY_INSERT [dbo].[PHONENUMBERS] ON 

INSERT [dbo].[PHONENUMBERS] ([ID], [PHONENUMBER], [CUSTOMERSID], [PHONENUMBERTYPESID]) VALUES (1, N'(+44)7356-397105', 1, 1)
INSERT [dbo].[PHONENUMBERS] ([ID], [PHONENUMBER], [CUSTOMERSID], [PHONENUMBERTYPESID]) VALUES (2, N'(+44)7853-940880', 1, 3)
SET IDENTITY_INSERT [dbo].[PHONENUMBERS] OFF
SET IDENTITY_INSERT [dbo].[PHONENUMBERTYPES] ON 

INSERT [dbo].[PHONENUMBERTYPES] ([ID], [TYPENAME]) VALUES (1, N'Primary')
INSERT [dbo].[PHONENUMBERTYPES] ([ID], [TYPENAME]) VALUES (2, N'Secondary')
INSERT [dbo].[PHONENUMBERTYPES] ([ID], [TYPENAME]) VALUES (3, N'ICE')
SET IDENTITY_INSERT [dbo].[PHONENUMBERTYPES] OFF
SET IDENTITY_INSERT [dbo].[REVIEWS] ON 

INSERT [dbo].[REVIEWS] ([ID], [CUSTOMERSID], [BOOKINGSID], [RATING], [CUSTOMERREVIEW]) VALUES (2, 1, 1, 1, N'The barkeep ran into SpiderMan in the hallway. Is this common?')
SET IDENTITY_INSERT [dbo].[REVIEWS] OFF
SET IDENTITY_INSERT [dbo].[ROOMS] ON 

INSERT [dbo].[ROOMS] ([ID], [ROOMNUM], [ROOMTYPESID]) VALUES (1, 101, 1)
INSERT [dbo].[ROOMS] ([ID], [ROOMNUM], [ROOMTYPESID]) VALUES (2, 102, 1)
INSERT [dbo].[ROOMS] ([ID], [ROOMNUM], [ROOMTYPESID]) VALUES (3, 103, 1)
SET IDENTITY_INSERT [dbo].[ROOMS] OFF
SET IDENTITY_INSERT [dbo].[ROOMTYPES] ON 

INSERT [dbo].[ROOMTYPES] ([ID], [NAME], [COST], [QTYBEDS]) VALUES (1, N'Single', 300.0000, 1)
INSERT [dbo].[ROOMTYPES] ([ID], [NAME], [COST], [QTYBEDS]) VALUES (2, N'Double', 500.0000, 2)
SET IDENTITY_INSERT [dbo].[ROOMTYPES] OFF
SET IDENTITY_INSERT [dbo].[STAFF] ON 

INSERT [dbo].[STAFF] ([ID], [FIRSTNAME], [LASTNAME], [DEPARTMENTSID], [PHONENUMBER], [EMAIL]) VALUES (1, N'Adeline', N'Enki', 1, N'(+44)7541-740638', N'a.enki@gmail.com')
INSERT [dbo].[STAFF] ([ID], [FIRSTNAME], [LASTNAME], [DEPARTMENTSID], [PHONENUMBER], [EMAIL]) VALUES (2, N'Lane', N'Tood', 1, N'(+44)7666-206668', N'l.tood@mail.com')
INSERT [dbo].[STAFF] ([ID], [FIRSTNAME], [LASTNAME], [DEPARTMENTSID], [PHONENUMBER], [EMAIL]) VALUES (3, N'Sawyer', N'Silvey', 1, N'(+44)7979-999260', N's.silvey@gmail.com')
SET IDENTITY_INSERT [dbo].[STAFF] OFF
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [EXTRABED]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [PARKING]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [BREAKFAST]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_ANSTALLDA_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BOOKINGS_ANSTALLDA_STAFF]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_KUNDBOKNI_CUSTOMER] FOREIGN KEY([CUSTOMERSID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BOOKINGS_KUNDBOKNI_CUSTOMER]
GO
ALTER TABLE [dbo].[BOOKINGSROOMS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_RUM_ROOMS] FOREIGN KEY([ROOMSID])
REFERENCES [dbo].[ROOMS] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGSROOMS] CHECK CONSTRAINT [FK_BOOKINGS_RUM_ROOMS]
GO
ALTER TABLE [dbo].[BOOKINGSROOMS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_RUMSBOKNI_BOOKINGS] FOREIGN KEY([BOOKINGSID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGSROOMS] CHECK CONSTRAINT [FK_BOOKINGS_RUMSBOKNI_BOOKINGS]
GO
ALTER TABLE [dbo].[CUSTOMERS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_KUNDTYPER_CUSTOMER] FOREIGN KEY([CUSTOMERTYPESID])
REFERENCES [dbo].[CUSTOMERTYPES] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMERS] CHECK CONSTRAINT [FK_CUSTOMER_KUNDTYPER_CUSTOMER]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_BETALNING_CUSTOMER] FOREIGN KEY([CUSTOMERSID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_BETALNING_CUSTOMER]
GO
ALTER TABLE [dbo].[PHONENUMBERS]  WITH CHECK ADD  CONSTRAINT [FK_PHONENUM_NUMMERTYP_PHONENUM] FOREIGN KEY([PHONENUMBERTYPESID])
REFERENCES [dbo].[PHONENUMBERTYPES] ([ID])
GO
ALTER TABLE [dbo].[PHONENUMBERS] CHECK CONSTRAINT [FK_PHONENUM_NUMMERTYP_PHONENUM]
GO
ALTER TABLE [dbo].[PHONENUMBERS]  WITH CHECK ADD  CONSTRAINT [FK_PHONENUM_TELEFONNU_CUSTOMER] FOREIGN KEY([CUSTOMERSID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
GO
ALTER TABLE [dbo].[PHONENUMBERS] CHECK CONSTRAINT [FK_PHONENUM_TELEFONNU_CUSTOMER]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_REVIEWS_RECENSION_BOOKINGS] FOREIGN KEY([BOOKINGSID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_REVIEWS_RECENSION_BOOKINGS]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD  CONSTRAINT [FK_ROOMS_ROOMSROOM_ROOMTYPE] FOREIGN KEY([ROOMTYPESID])
REFERENCES [dbo].[ROOMTYPES] ([ID])
GO
ALTER TABLE [dbo].[ROOMS] CHECK CONSTRAINT [FK_ROOMS_ROOMSROOM_ROOMTYPE]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_AVDELNING_DEPARTME] FOREIGN KEY([DEPARTMENTSID])
REFERENCES [dbo].[DEPARTMENTS] ([ID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_AVDELNING_DEPARTME]
GO
/****** Object:  StoredProcedure [dbo].[sp_BOOKINGS_INSERT]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SKAPAR EN BOKNING ALLT UTOM TIMEDEPARTURE SOM OCKSÅ TAR RUMSNUMMER SP OCH SAMTIDIGT GÖR EN INSERT INTO BOOKINGSROOMS

CREATE PROCEDURE [dbo].[sp_BOOKINGS_INSERT] 
@CUSTOMERSID INT,
@QTYPERSONS INT,
@STARTDATE DATE,
@ENDDATE DATE,
@ETA DATETIME,
@TIMEARRIVAL DATETIME,
@SPECIALNEEDS TEXT,
@EXTRABED BIT,
@STAFFID INT,
@ROOMID INT
AS

BEGIN TRY
    BEGIN TRANSACTION 
		
		IF @ENDDATE >= @STARTDATE
			BEGIN
				INSERT INTO BOOKINGS (CUSTOMERSID, QTYPERSONS, STARTDATE, ENDDATE, ETA, TIMEARRIVAL, SPECIALNEEDS, EXTRABED, STAFFID)
					VALUES (@CUSTOMERSID, @QTYPERSONS, @STARTDATE, @ENDDATE, @ETA, @TIMEARRIVAL, @SPECIALNEEDS, @EXTRABED, @STAFFID);
		
					DECLARE @BOOKID INT
					SELECT @BOOKID = ID
					FROM BOOKINGS
					WHERE ID = (SELECT TOP(1) ID FROM BOOKINGS ORDER BY ID DESC)

					INSERT INTO BOOKINGSROOMS
					VALUES(@BOOKID, @ROOMID)
					COMMIT
			END
		ELSE
			BEGIN
				PRINT 'END DATE CAN NOT BE EARLIER THAN START DATE!'
			END
	END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_CHANGE_SENSITIVE_INFO_TO]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EN PROCEDURE SOM TAR BORT KÄNSLIG IDENTIFIERANDE INFORMATION MEN SPARAR ANNAN INFORMATION
CREATE PROCEDURE [dbo].[sp_CHANGE_SENSITIVE_INFO_TO] @NEWINFO VARCHAR(MAX), @CUSTID INT AS
	
	UPDATE CUSTOMERS
	SET FIRSTNAME = @NEWINFO, LASTNAME = @NEWINFO, EMAIL = @NEWINFO, STREETADRESS = @NEWINFO, ICE = @NEWINFO
	WHERE ID = @CUSTID

	UPDATE PHONENUMBERS
	SET PHONENUMBER = @NEWINFO
	WHERE CUSTOMERSID = @CUSTID
GO
/****** Object:  StoredProcedure [dbo].[sp_CHECK_IN_TRANSACTION_TOKEN]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDURE SOM SKAPAR EN TRANSACTION TOKEN
CREATE PROCEDURE [dbo].[sp_CHECK_IN_TRANSACTION_TOKEN] @CUSTID INT, @BOOKID INT AS

	--GÖR EN INSERT INTO PAYMENTS NÄR EN BOKNING SKAPAS
	--DÅ KAN DEN FÅ EN TRANSACTIONTOKEN SOM TRIGGER

	DECLARE @TRANSTOKEN BIGINT
	SET @TRANSTOKEN = ABS(CHECKSUM(NEWID()) % (99999999 - 10000000 + 1)) + 10000000

	--GÖR OM TILL UPDATE

	INSERT INTO PAYMENTS(CUSTOMERSID, TRANSACTIONTOKEN, BOOKINGSID)
	VALUES(@CUSTID, @TRANSTOKEN, @BOOKID)
GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_BOOKINGS_PROCEDURE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------\
------------------------------------------------------------/

--TAR BORT KUNDENS BOKNINGAR
CREATE PROCEDURE [dbo].[sp_DELETE_BOOKINGS_PROCEDURE] @BOOKID INT
AS
	DELETE BOOKINGS
	WHERE ID = @BOOKID
GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_BOOKINGSROOMS_PROCEDURE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------\
------------------------------------------------------------/

--TAR BORT BOOKINGSROOMS FÖR VARJE BOKNING
CREATE PROCEDURE [dbo].[sp_DELETE_BOOKINGSROOMS_PROCEDURE] @BOOKID INT
AS
	DELETE BOOKINGSROOMS
	WHERE BOOKINGSID = @BOOKID
GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_CUSTOMER_PROCEDURE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------\
------------------------------------------------------------/

--TAR SLUTLIGEN BORT KUNDEN
CREATE PROCEDURE [dbo].[sp_DELETE_CUSTOMER_PROCEDURE] @CUSTID INT
AS
	DELETE CUSTOMERS
	WHERE ID = @CUSTID
GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_CUSTOMERS_BOOKINGS]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------\
------------------------------------------------------------/

--VI MÅSTE FÅ TAG PÅ ALLA BOKNINGAR SOM DEN HÄR KUNDEN HAR GJORT
--LOOPAR IGENOM EN FUNCTION SOM VISAR EN KUNDS ALLA BOKNINGAR MED HJÄLP AV KUNDID

CREATE PROCEDURE [dbo].[sp_DELETE_CUSTOMERS_BOOKINGS] @CUSTID INT
AS
--KOLLAR IGENOM ALLA BOKNINGAR FÖR ATT SE OM KUNDEN FINNS I NÅGRA ANDRA BOKNINGAR
	DECLARE @BOOKID INT

	DECLARE BOOKIDCURSOR CURSOR
	FOR
		SELECT ID
		--EN FUNCTION SOM VISAR ALLA KUNDENS BOKNINGAR
		FROM f_SHOWCUSTOMERSBOOKINGS(@CUSTID) SCB
		ORDER BY SCB.ID

		OPEN BOOKIDCURSOR
			FETCH NEXT FROM BOOKIDCURSOR INTO @BOOKID

--EN LOOP SOM KOLLAR AV BOKNINGSID FRÅN FUNCTION OCH TAR BORT ALLA BOKNINGAR, BOOKINGSROOMS OCH RECENSIONER

			WHILE @@FETCH_STATUS = 0
				BEGIN

					EXEC sp_DELETE_REVIEW_PROCEDURE @BOOKID
					EXEC sp_DELETE_BOOKINGSROOMS_PROCEDURE @BOOKID
					EXEC sp_DELETE_BOOKINGS_PROCEDURE @BOOKID

					FETCH NEXT FROM BOOKIDCURSOR INTO @BOOKID
				END

	CLOSE BOOKIDCURSOR
		DEALLOCATE BOOKIDCURSOR

GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_OLD_CUSTOMERS_SENSITIVE_INFORMATION]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EN LOOP
CREATE PROCEDURE [dbo].[sp_DELETE_OLD_CUSTOMERS_SENSITIVE_INFORMATION] AS

	DECLARE @CUSTID INT

	DECLARE CUSTIDCURSOR CURSOR
	FOR
		SELECT CUSTOMERSID
		FROM v_SHOWCUSTOMERSTODELETE
		ORDER BY CUSTOMERSID

	OPEN CUSTIDCURSOR
		FETCH NEXT FROM CUSTIDCURSOR INTO @CUSTID

	WHILE @@FETCH_STATUS = 0
		BEGIN

			EXEC sp_CHANGE_SENSITIVE_INFO_TO '--DELETED--', @CUSTID

			FETCH NEXT FROM CUSTIDCURSOR INTO @CUSTID
		END

	CLOSE CUSTIDCURSOR
	DEALLOCATE CUSTIDCURSOR

GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_PAYMENT_PROCEDURE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------\
------------------------------------------------------------/

--TAR BORT KUNDENS PAYMENTS
CREATE PROCEDURE [dbo].[sp_DELETE_PAYMENT_PROCEDURE] @CUSTID INT
AS
	DELETE PAYMENTS
	WHERE CUSTOMERSID = @CUSTID
GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_PHONENUMBER_PROCEDURE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------\
------------------------------------------------------------/

--TAR BORT KUNDENS TELEFONNUMMER
CREATE PROCEDURE [dbo].[sp_DELETE_PHONENUMBER_PROCEDURE] @CUSTID INT
AS
	DELETE PHONENUMBERS
	WHERE CUSTOMERSID = @CUSTID
GO
/****** Object:  StoredProcedure [dbo].[sp_DELETE_REVIEW_PROCEDURE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------\
-----------STORED PROCEDURES-----------|
---------------------------------------/

--TAR BORT KUNDENS REVIEWS
CREATE PROCEDURE [dbo].[sp_DELETE_REVIEW_PROCEDURE] @BOOKID INT
AS
	DELETE REVIEWS
	WHERE BOOKINGSID = @BOOKID
GO
/****** Object:  StoredProcedure [dbo].[sp_PERMANENTLY_DELETE_OLD_CUSTOMERS_PROCEDURE]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------\
-------------NÄR DESSA ÄR UTFÖRDA KAN MAN ANVÄNDA SIG AV FÖLJANDE LOOP-----------|
---------------------------------------------------------------------------------/

--LOOPA IGENOM ALLA GAMLA KUNDERS BOKNINGAR OCH HÄMTA ID FÖR ATT SENARE KUNNA TA BORT KUNDERNA
CREATE PROCEDURE [dbo].[sp_PERMANENTLY_DELETE_OLD_CUSTOMERS_PROCEDURE] AS

	DECLARE @YEARS INT
	SET @YEARS = 10;

	DECLARE @CUSTID INT

	DECLARE CUSTIDCURSOR CURSOR
	FOR

		SELECT CUSTOMERSID
		FROM f_SHOWCUSTOMERSOLDERTHAN(@YEARS) SCOT
		ORDER BY SCOT.CUSTOMERSID

		OPEN CUSTIDCURSOR
			FETCH NEXT FROM CUSTIDCURSOR INTO @CUSTID

	WHILE @@FETCH_STATUS = 0
		BEGIN

------------------------------------------------------------------------------------------------------
		
			--KALLA PÅ EN PROCEDURE SOM TAR BORT ALLT SOM HAR MED BOOKINGS FÖR EN KUND ATT GÖRA FÖRST
			--SPn HITTAR KUNDENS ALLA BOKNINGSNUMMER FÖRST OCH SEN RADERAR ALLA BOKNINGAR GENOM EN LOOP
			EXEC sp_DELETE_CUSTOMERS_BOOKINGS @CUSTID
	
------------------------------------------------------------|

			--TAR BORT ALLT MED KUNDEN ATT GÖRA SEN
			EXEC sp_DELETE_PAYMENT_PROCEDURE @CUSTID
			EXEC sp_DELETE_PHONENUMBER_PROCEDURE @CUSTID
			EXEC sp_DELETE_CUSTOMER_PROCEDURE @CUSTID

------------------------------------------------------------------------------------------------------

			FETCH NEXT FROM CUSTIDCURSOR INTO @CUSTID
		END

	CLOSE CUSTIDCURSOR
		DEALLOCATE CUSTIDCURSOR

GO
/****** Object:  StoredProcedure [dbo].[sp_UPDATE_PAYMENTS_TOTAL_COST]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UPDATE_PAYMENTS_TOTAL_COST] @BOOKID INT, @CUSTID INT AS
	--GÖR EN UPDATE TABLE NÄR BOKNINGEN CHECKAS UT

	DECLARE @TOTCOST DECIMAL

	SELECT @TOTCOST = TOTALDAYS * ROOMCOST
	FROM v_SHOWPAYMENTINFO
	WHERE BOOKINGSID = @BOOKID

	--KOLLAR IFALL KUNDENS DISCOUNT ÄR NULL OCH HOPPAR ÖVER DETTA STEG ISF
	IF EXISTS(
		SELECT * 
		FROM v_SHOWPAYMENTINFO
		WHERE CUSTOMERSID=@CUSTID AND [DISCOUNT(%)] != 0)
			BEGIN
				DECLARE @TOTDISCOUNT DECIMAL

				SELECT @TOTDISCOUNT = TOTALDAYS * ROOMCOST * [DISCOUNT(%)] / 100
				FROM v_SHOWPAYMENTINFO
				WHERE BOOKINGSID = @BOOKID

				SET @TOTCOST = @TOTCOST - @TOTDISCOUNT
			END

	--KOLLAR IFALL KUNDEN BOKAT EXTRASÄNG, ISF LÄGGS 100 KR PÅ TOTALKOSTNADEN
	IF EXISTS(
		SELECT *
		FROM v_SHOWPAYMENTINFO
		WHERE EXTRABED != 0)
			BEGIN
				SET @TOTCOST = @TOTCOST + 100
			END

	UPDATE PAYMENTS
	SET TOTALCOST = @TOTCOST,
	[DISCOUNT(SEK)] = @TOTDISCOUNT
	WHERE CUSTOMERSID = @CUSTID AND BOOKINGSID = @BOOKID
GO
/****** Object:  Trigger [dbo].[tr_CHECK_IN]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRIGGER SOM VID EN ÄNDRING I BOOKINGS KOLLAR OM KUNDEN CHECKAT IN
CREATE TRIGGER [dbo].[tr_CHECK_IN]
ON [dbo].[BOOKINGS]
FOR UPDATE
AS
	IF EXISTS(
		SELECT * FROM INSERTED
		WHERE TIMEARRIVAL IS NOT NULL)
	AND EXISTS(
		SELECT * FROM DELETED
		WHERE TIMEARRIVAL IS NULL)

		BEGIN
			DECLARE @CUSTID INT
				SELECT @CUSTID = CUSTOMERSID
				FROM INSERTED

			DECLARE @BOOKID INT
				SELECT @BOOKID = ID
				FROM INSERTED
	
			EXEC sp_CHECK_IN_TRANSACTION_TOKEN @CUSTID, @BOOKID
		END
GO
ALTER TABLE [dbo].[BOOKINGS] ENABLE TRIGGER [tr_CHECK_IN]
GO
/****** Object:  Trigger [dbo].[tr_CHECK_NEW_BOOKING]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--TRIGGER NÄR MAN GÖR EN BOKNING OCH KOLLAR OM KUNDEN CHECKAT IN
CREATE TRIGGER [dbo].[tr_CHECK_NEW_BOOKING]
ON [dbo].[BOOKINGS]
FOR INSERT
AS
	IF EXISTS(
		SELECT * FROM INSERTED
		WHERE TIMEARRIVAL IS NOT NULL)

		BEGIN
			DECLARE @CUSTID INT
				SELECT @CUSTID = CUSTOMERSID
				FROM INSERTED

			DECLARE @BOOKID INT
				SELECT @BOOKID = ID
				FROM INSERTED

			EXEC sp_CHECK_IN_TRANSACTION_TOKEN @CUSTID, @BOOKID
		END
GO
ALTER TABLE [dbo].[BOOKINGS] ENABLE TRIGGER [tr_CHECK_NEW_BOOKING]
GO
/****** Object:  Trigger [dbo].[tr_CHECK_OUT_ADD_TOTAL_COST]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--TRIGGER SOM KOLLAR OM EN KUND CHECKAT UT OCH ISF RÄKNAR UT TOTALKOSTNADEN FÖR VISTELSEN
CREATE TRIGGER [dbo].[tr_CHECK_OUT_ADD_TOTAL_COST]
ON [dbo].[BOOKINGS]
--PÅ CHECKOUT SÅ GÖRS EN UPDATE
FOR UPDATE
AS
	DECLARE @BOOKID INT
		SELECT @BOOKID = ID
		FROM INSERTED

	DECLARE @CUSTID INT
		SELECT @CUSTID = CUSTOMERSID
		FROM INSERTED

	IF EXISTS(
		SELECT * FROM INSERTED
		WHERE TIMEDEPARTURE IS NOT NULL)
	AND EXISTS(
		SELECT * FROM INSERTED
		WHERE TIMEARRIVAL IS NULL)

		BEGIN
			PRINT 'CUSTOMER HAS TO CHECK IN BEFORE A CHECK OUT
			'
			ROLLBACK
		END

	ELSE
		BEGIN
			IF EXISTS(
				SELECT * FROM INSERTED
				WHERE TIMEDEPARTURE IS NOT NULL)

				 BEGIN
					EXEC sp_UPDATE_PAYMENTS_TOTAL_COST @BOOKID, @CUSTID
				 END
		END
GO
ALTER TABLE [dbo].[BOOKINGS] ENABLE TRIGGER [tr_CHECK_OUT_ADD_TOTAL_COST]
GO
/****** Object:  Trigger [dbo].[tr_CHECK_REVIEW_RATING]    Script Date: 2020-03-06 10:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRIGGER SOM KOLLAR SÅ ATT MAN BARA KAN LÄGGA IN EN RATING MELLAN 1 OCH 5
CREATE TRIGGER [dbo].[tr_CHECK_REVIEW_RATING]
ON [dbo].[REVIEWS]
FOR INSERT
AS
	IF EXISTS(
		SELECT * FROM INSERTED
		WHERE RATING < 1 OR RATING > 5)

		BEGIN
			PRINT 'RATING HAS TO BE BETWEEN 1 AND 5
			'
			ROLLBACK
		END
GO
ALTER TABLE [dbo].[REVIEWS] ENABLE TRIGGER [tr_CHECK_REVIEW_RATING]
GO
